// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//font-awesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

//toastr
@import '~toastr/toastr';


.bg-team-primary{
    background-color: $team-primary;
}

.bg-team-secondary{
    background-color: $team-secondary;
}

.bg-team-tertiary{
    background-color: $team-tertiary;
}

.text-team-primary{
    color: $team-primary;
}

.text-team-secondary{
    color: $team-secondary;
}

.text-team-tertiary{
    color: $team-tertiary;
}