// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-team-primary{
    background-color: $team-primary;
}

.bg-team-secondary{
    background-color: $team-secondary;
}

.bg-team-tertiary{
    background-color: $team-tertiary;
}